suggestionpopover {
  background: transparent;
}

suggestionpopover > revealer > box {
  margin: 0px 0px 60px 0px;
  border-radius: 0 0 7px 7px;
  border: 1px solid @borders;
  border-top: none;
  box-shadow: 0px -10px 30px #000;
}

suggestionpopover > revealer > box > elastic > scrolledwindow {
  background: rgba(255,255,255,.95);
  border-radius: 0 0 7px 7px;
}

suggestionpopover > revealer > box > elastic > scrolledwindow > viewport > list {
  background: transparent;
}

suggestionpopover > revealer > box > elastic > scrolledwindow > viewport > list > row:first-child {
  transition: none;
}

suggestionpopover > revealer > box > elastic > scrolledwindow > viewport > list > row {
  transition: none;
  border-bottom: 1px solid alpha(@borders, 0.2);
}

suggestionpopover > revealer > box > elastic > scrolledwindow > viewport > list > row:selected .title {
  color: #fff;
}

suggestionpopover > revealer > box > elastic > scrolledwindow > viewport > list > row .title {
  color: #4a86cf;
}

suggestionpopover > revealer > box > elastic > scrolledwindow > viewport > list > row:last-child:selected {
  border-radius: 0 0 7px 7px;
}

suggestionpopover > revealer > box > elastic > scrolledwindow > viewport > list > row > box {
  margin: 4px 8px 4px 8px;
}

suggestionpopover > revealer > box > elastic > scrolledwindow > viewport > list > row:last-child {
  border-bottom: none;
}
